@model IEnumerable<Aula05.Models.Treinamento>

@{
    ViewBag.Title = "Index";
}

<h2>Treinamentos Presenciais Wincomp</h2>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTreinamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Termino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desconto)
            </th>
            <th>
                Preço Final
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
        decimal precoFinal = Convert.ToDecimal(item.Preco) - Convert.ToDecimal(item.Desconto);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTreinamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Termino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desconto)
            </td>
            <td>
                @precoFinal.ToString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
        </tr>
        }
    </tbody>
</table>
